@font-face {
	font-family: "Gilroy";
	src: url('./fonts/Gilroy/Gilroy-Light.ttf') format('truetype'); 
	font-style: normal;
	font-weight: 300;
	font-display: swap;
  }
  
  @font-face {
	font-family: "Gilroy";
	src: url('./fonts/Gilroy/Gilroy-Regular.ttf') format('truetype'); 
	font-style: normal;
	font-weight: 400;
	font-display: swap;
  }
  
  @font-face {
	font-family: "Gilroy";
	src: url('./fonts/Gilroy//Gilroy-Medium.ttf') format('truetype'); 
	font-style: normal;
	font-weight: 500;
	font-display: swap;
  }
  
  @font-face {
	font-family: "Gilroy";
	src: url('./fonts/Gilroy//Gilroy-Bold.ttf') format('truetype'); 
	font-style: normal;
	font-weight: 700;
	font-display: swap;
  }
  
  /* @font-face {
	font-family: "Gilroy";
	src: url('/fonts/Gilroy/Gilroy-ExtraBold.otf') format('otf'); 
	font-style: normal;
	font-weight: 800;
	font-display: swap;
  } */
  
  
  @font-face {
	font-family: "Gilroy";
	src: url('./fonts/Gilroy//Gilroy-Heavy.ttf') format('truetype'); 
	font-style: normal;
	font-weight: 900;
	font-display: swap;
  }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Gilroy', 'Arial','DM Sans', sans-serif;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/************ Main CSS *********/
.text-center{
	text-align: center;
}

body {
    background: #f1f1f1;
}

.section-heading {
    width: 100%;
    height: 20px;
    text-align: center;
    margin: 30px 0 40px;
    /* color */
    color: #1D252D;
    border-bottom: 2px #1D252D solid;
}

.section-title {
    background: #f1f1f1;
    font-size: 30px;
    padding: 10px;
}
.btn{
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 12px;
	background: #F5F9FF;
	color: #1D252D;
	font-size: 1rem;
	box-shadow: inset 0 0 rgb(0, 89, 255);
    transition: all 0.3s ease-out;
}

.active-btn{
	background: #001378;
	color: #FFF;	
}

.active-btn:hover, .btn:hover {
    box-shadow: inset 14em 0 #54D15F;
    color: #FFF;
}

.data-section{
    display: grid;
    padding: 2rem;
   /* width:70%; */
    /* place-items: center; */
    gap: 10px 10px;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: 50px;
}

.books-wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}